<div class="container">
    <h1>Exchanging an access code for a token</h1>
    <h2>Access Token:</h2>
    <pre>{{access_token}}</pre>
    <h2>User ID:</h2>
    <pre>{{user_id}}</pre>

    {{#if access_token}}
        <a href="/media?token={{access_token}}">Click here to query user media</a>
    {{/if}}
</div>

