

<div class="container">
  <h1 class="text-center">Boilerplate</h1>
    <div className="App">
      <a href="https://api.instagram.com/oauth/authorize?client_id={{app_id}}&redirect_uri={{redirect_uri}}&scope=user_profile&response_type=code"}>Click here</a>
    </div>
    {{#if qs}}
      <h2>Instagram API token:</h2>
      {{qs}}
      <a href="https://graph.instagram.com/me?fields=id,username&access_token={{qs}}">Now here</a>
    {{/if}}
</qs>