

<div class="container">
  <h1 class="text-center">Boilerplate</h1>
    <div className="App">
      <a href="https://api.instagram.com/oauth/authorize?client_id={{app_id}}&redirect_uri={{redirect_uri}}&scope=user_profile,user_media&response_type=code"}>Click here</a>
    </div>
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/93616582_227290458616555_7903837677762740_n.jpg?_nc_cat=107&_nc_sid=8ae9d6&_nc_ohc=SiLOCUeS5IIAX_UwRIQ&_nc_ht=scontent-sjc3-1.xx&oh=a015f3a4fdfa2f6cc49e2a022841cc03&oe=5EC503B9" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/92562124_522515898412153_8878021773844220343_n.jpg?_nc_cat=103&_nc_sid=8ae9d6&_nc_ohc=iRceWR5xTEQAX8T244E&_nc_ht=scontent-sjc3-1.xx&oh=05f144a3090b1b40a0b99dfdfea972b7&oe=5EC77824" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/92706161_535429803803217_5419667722276085506_n.jpg?_nc_cat=103&_nc_sid=8ae9d6&_nc_ohc=pu0XneCnEAkAX_QLUYq&_nc_ht=scontent-sjc3-1.xx&oh=7dca3cb5530fdaff5f9ba383e5d1d8e5&oe=5EC52B43" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/91984545_155325032464430_2911995551389697107_n.jpg?_nc_cat=102&_nc_sid=8ae9d6&_nc_ohc=_ks3I2unJaIAX_M4JAb&_nc_ht=scontent-sjc3-1.xx&oh=0d563133c5b75eace285a86e4fe91103&oe=5EC7D248" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/91832506_925455104551054_4745617280366457187_n.jpg?_nc_cat=105&_nc_sid=8ae9d6&_nc_ohc=3rDVbM_DwBsAX8a9X5X&_nc_ht=scontent-sjc3-1.xx&oh=887eb551aaa5f685f8aa24a3dd87dba7&oe=5EC62757" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/91210119_258024315222666_1717525015421875164_n.jpg?_nc_cat=104&_nc_sid=8ae9d6&_nc_ohc=k9RbhGnyV0oAX8JeHW_&_nc_ht=scontent-sjc3-1.xx&oh=6094c4533be61cc9c90b56df888f1aba&oe=5EC6898E" />
    <video width="100" controls>
      <source src="https://video-sjc3-1.xx.fbcdn.net/v/t50.2886-16/91002833_212086279856668_5889241800886800367_n.mp4?_nc_cat=100&vs=18112743988103694_285139186" type="video/mp4">
    </video>
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/91007555_630201957560955_8291240718960759188_n.jpg?_nc_cat=108&_nc_sid=8ae9d6&_nc_ohc=jnPl63HUF48AX-CAy7v&_nc_ht=scontent-sjc3-1.xx&oh=837901ee148c1d552b98667513a42097&oe=5EC74D98" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/90482587_229982191522003_8150630944414853531_n.jpg?_nc_cat=102&_nc_sid=8ae9d6&_nc_ohc=waJXBgA8tdgAX-6FQOc&_nc_ht=scontent-sjc3-1.xx&oh=f5a61e05e1682a80fabae4af636ec1bf&oe=5EC7AA37" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/90312063_198552038112244_7737065188979195081_n.jpg?_nc_cat=103&_nc_sid=8ae9d6&_nc_ohc=_qPVszAN8zQAX9vGeqd&_nc_ht=scontent-sjc3-1.xx&oh=576bbeaacc06f5151e908d63cb767ed5&oe=5EC6114F" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/90407051_1067842466907968_5304957385656366619_n.jpg?_nc_cat=109&_nc_sid=8ae9d6&_nc_ohc=NABBVBRpInwAX9vG12m&_nc_ht=scontent-sjc3-1.xx&oh=4684abbc5b5d990555efc0d189ddd876&oe=5EC6A3BA" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/90505677_574804723127117_992690312820660035_n.jpg?_nc_cat=108&_nc_sid=8ae9d6&_nc_ohc=loYBdnhKhVUAX8hd_xm&_nc_ht=scontent-sjc3-1.xx&oh=6fa49c233ae6ac9ef33046595db1b920&oe=5EC6E8B0" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/89848101_237296534101728_2207787436500100893_n.jpg?_nc_cat=102&_nc_sid=8ae9d6&_nc_ohc=XYydDfPP6UcAX-UGt2c&_nc_ht=scontent-sjc3-1.xx&oh=6b6b1343a33f12a8886fe4ad60e692b7&oe=5EC89F39" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/89382050_196642948417342_632656834265199114_n.jpg?_nc_cat=109&_nc_sid=8ae9d6&_nc_ohc=_qmux4XFkRcAX9fzrsg&_nc_ht=scontent-sjc3-1.xx&oh=e405a7aad8a986d6657ba21d7e6fa5e9&oe=5EC77DF7" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/79311459_234460267724422_2935979632339976409_n.jpg?_nc_cat=102&_nc_sid=8ae9d6&_nc_ohc=TkB9FZczBHcAX-BOx19&_nc_ht=scontent-sjc3-1.xx&oh=872789f86bd112cb4c002f1129963152&oe=5EC70E8B" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/87891534_1130263473980271_870386719905846376_n.jpg?_nc_cat=106&_nc_sid=8ae9d6&_nc_ohc=38CkzvSEUSIAX_tMACK&_nc_ht=scontent-sjc3-1.xx&oh=e5b74a3f858ee6f65c49cd8d218e3a8d&oe=5EC8606E" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/87606912_193948638495931_2966634654203639024_n.jpg?_nc_cat=110&_nc_sid=8ae9d6&_nc_ohc=DPkPFJ4o1scAX9MLz9r&_nc_ht=scontent-sjc3-1.xx&oh=868d0cc55e7cf93b6ea69afba03b27a6&oe=5EC76E43" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/84222135_114361376809936_4148312102747262959_n.jpg?_nc_cat=104&_nc_sid=8ae9d6&_nc_ohc=15ZQKCzWHxcAX_5qwOS&_nc_ht=scontent-sjc3-1.xx&oh=a4d7b0bab23df3cba5767c92abf750d0&oe=5EC6F1BD" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/82054652_2628530600609602_5311568375246507554_n.jpg?_nc_cat=105&_nc_sid=8ae9d6&_nc_ohc=sTJzeNAidawAX8Q7gSw&_nc_ht=scontent-sjc3-1.xx&oh=a30d10523e52cd8f7daff736db601c17&oe=5EC5E027" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/83953485_171705094132370_5550087685028435578_n.jpg?_nc_cat=111&_nc_sid=8ae9d6&_nc_ohc=xKxSHhGugwQAX_wX5Kj&_nc_ht=scontent-sjc3-1.xx&oh=345424b791965700560e2525c9f17541&oe=5EC5092D" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/82814014_242566050065679_971390675749558255_n.jpg?_nc_cat=104&_nc_sid=8ae9d6&_nc_ohc=OEwuRcgKQhUAX-zFoaz&_nc_ht=scontent-sjc3-1.xx&oh=404d2b1013c609d9ad61e22d8785d5d4&oe=5EC7EA95" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/81366187_1529567703857665_6759349272206860512_n.jpg?_nc_cat=105&_nc_sid=8ae9d6&_nc_ohc=NRzDsTirRP0AX_DNVq-&_nc_ht=scontent-sjc3-1.xx&oh=a680ce9cd271c0d7a51593856ed66069&oe=5EC60B9A" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/81780569_165238724826190_7339406953725220825_n.jpg?_nc_cat=101&_nc_sid=8ae9d6&_nc_ohc=yktyf0B5vEEAX8taRmy&_nc_ht=scontent-sjc3-1.xx&oh=b2b7859bcb508ca0e076da981b4867bd&oe=5EC737D8" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/82715102_2825553100814813_3158824082374185670_n.jpg?_nc_cat=107&_nc_sid=8ae9d6&_nc_ohc=_hTSdYK6qOEAX8hbMkQ&_nc_ht=scontent-sjc3-1.xx&oh=6fdf53bf20d50203229e8c948782907f&oe=5EC59521" />
    <img width="100" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t51.2885-15/79730982_171868097385278_3417992271809889121_n.jpg?_nc_cat=109&_nc_sid=8ae9d6&_nc_ohc=113qVnnwYJcAX9aGEhG&_nc_ht=scontent-sjc3-1.xx&oh=1c690c04beb1d4dfe80493a856d0ced8&oe=5EC74284" />
    {{#if qs}}
      <h2>Instagram API token:</h2>
      {{qs}}
      <br />
      <a href="/exchange?code={{qs}}">Now here</a>
    {{/if}}
</qs>