<div class="container">
    <h2>Long-lived access token</h2>
    <pre>
        {{access_token}}
    </pre>
    {{#if access_token}}
        <a href="/media?token={{access_token}}">Click here to query user media</a>
    {{/if}}
</div>